

body {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    align-items: center;
    margin: 0;
    font-family: AvenirPro35Light;
    color: #6D6E71;
    font-size: 18px;
}

.container {
    text-align: left;
    max-width: 840px; /* Adjust as needed */
    padding: 20px;
}

h1 {
    font-family: ActaDisplayBook;
    color: #414042;
    font-size: 48px;
    font-weight: lighter;
    -webkit-font-smoothing: auto;
}

a {
    color: #6D6E71;
}

p {
    font-family: AvenirPro35Light;
    color: #6D6E71;
    font-size: 18px;
    line-height: 26px;
}

footer {
    margin-top: 60px;
}

/* container */
.two-columns {
    display:flex;
}

/* columns */
.two-columns > * {
    margin-top: 60px;
    width:50%;
}