body {
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    margin: 0;
}

.container {
    text-align: center;
    max-width: 800px; /* Adjust as needed */
    padding: 20px;
}

h1 {
    font-family: ActaDisplayBook;
    color: #414042;
    font-size: 28pt;

}

p {
    font-family: AvenirPro35Light;
    color: #6D6E71;
    font-size: 8pt;
}